<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.name %> alors pas trop rincé après nos ébats sexuel d'hier soir !</h1>
    <p>Tu t'es inscrit sur chaudasse33.com en utilisant l'e-mail suivant : <%= @user.email %>.</p>
    <p>Pour retourner des donzelles comme jaja, connecte-toi via : <%= @url %>.</p>
    <p>À très vite sur chaudasse33 mon chou !</p>
    <p>Soit rassuré je n'ai pas envoyé de copie du mail à ta copine.</p>
  </body>
</html>
